body{
    font-family: "Montserrat";
    text-align: center;
  
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-bold";
}

h3{
    font-size: 1.8rem; 
}
p{
    color: #7a7676;
    font-size: 1.1rem;
}
/* big heading */
.big-heading{
    font-family: 'Montserrat-black', sans-serif;
    width: 80% ;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 5%;
    font-weight: 900;
}
.section-heading{
    font-size: 3.2rem;
    line-height: 1.5;
}
/* section */
.colored-section{
    background-color: #ff4c68;  
    color: #fff;
}
.white-section{
    background-color: #fff;
}

.container-fluid{
    padding: 1%  15% 7% 15%;  
}

/* title section */
#title{
    text-align: left;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-nav{
    margin-right: 10%;
}
.navbar-item{
    padding: 0 18px;
    font-size: 1.23rem;
}
.navbar-link{
    font-family: "Montserrat-light";
    font-size: 1.2rem; 
}
.rotate{
    transform: rotate(25deg);
  width: 20%;
  position: absolute;
  z-index:0;
  right: 25%;
}
#features{
padding: 7% 15%;

position: relative;
z-index: 1;
}
.feature-title{
    font-size: 1.8rem;
}
.features-box{
  
  padding: 4%;
}
.icon{
color: #ef8172;
margin-bottom: 1rem;
}
.icon:hover{
 color: #ff4c68;
} 
/* Testimonials section */
#testimonials{  
    background-color: #ef8172;
 
}
.testimonials-text{
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: 700;
}
.testimonials-image{
 width: 10%;
 border-radius: 100%;
 margin: 20px;
}
#press{
    background-color: #ef8172; 
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
   margin: 20px 50px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
    font-size: 1rem;
}
/* subscription content */
#pricing{
    padding: 100px;  
}
.pricing-column{
    padding: 3% 2%;
}
.price-text{
 font-size: 3.3rem;
 line-height: 1.5;
}
@media(max-width:1000px){
    .rotate{
      position: static;
      width: 60%;
      margin-top: 7%;
     transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    h1{
        margin-left: 8%;
    }
}
/* CTA SECTION */
#cta{
    padding: 2%;
}
.botcontent{
    
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    font-weight: 600;
    padding: 2% 15%;
  width: fit-content;
     margin: 1% 10% ;
}
#footer{ 

    padding: 3%;
}
.social{
    padding: 1%;
}
/* button */
.download{
   margin: auto 0.5%;
}